/* =============================================================================
  Reset
========================================================================== */
@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	padding: 0;
	margin: 0;
	font-family: Ariel,sans-serif;
}
:focus {
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img { 
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-weight: normal;
	font-style: normal;
}
ol,ul {
	list-style: none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%;
}
q:before,q:after {
	content:'';
}
abbr,acronym { 
	border: 0;
}
/* =============================================================================
  Clearfix
========================================================================== */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: block;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* =============================================================================
  Rest code
========================================================================== */
.title {
	font-size: 120px;
	margin-bottom: 30px;
	text-align: center;
}
.simple_text, .simple_text_column {
	float: left;
	width: 18%;
	margin-right: 2%;
}
.simple_text_column {
	margin-right: 0;
	
}
.simple_text p, .simple_text_column p {
	text-align: justify;
	text-indent: 5%;
}
.image {
	width: 40%;
	float: left;
	margin-right: 2%;
	overflow: hidden;
}
.hidden .simple_text, .hidden .simple_text_column {
	display: none;
}
.hidden .simple_text:nth-child(2) {
	display: block;
	width: 28%;
	float: left;
	margin-right: 2%;
}
.hidden .image {
	width: 70%;
	margin-right: 0;
	float: left;
	overflow: hidden;
}